/* resets where there was default margin or padding*/
body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

* {
  color: #69696a;
}

body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
}

h1 {
  font-size: 16px;
}

.header-nav ul {
  margin: 5px 0;
}

.header-nav li,
.footer-nav li {
  list-style: none;
}

.header-nav .hire-us {
  list-style: none;
  text-align: center;
  width: 100%;
  display: block;
}

.header-nav a,
.call-to-action {
  text-decoration: none;
  text-align: center;
}

.hire-us,
.call-to-action {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin: 5px 0;
}

h2 {
  font-size: 26px;
  margin: 10px 0;
}

main {
  margin-top: 20px;
}
main p {
  border-left: 2px solid #69696a;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.footer-nav a {
  text-decoration: none;
  padding: 5px;
}

.footer-nav ul {
  display: flex;
}

.chirpus {
  color: #000;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav ul {
    display: flex;
    align-items: center; 
  }

  .header-nav a {
    padding: 10px;
  }

  .hire-us {
    border-radius: 20px;
  }

  .left, 
  .circles-container {
    width: 50%;
  }

  .circles-container {
    position: relative;
    /* position relative acting as anchor */
  }

  .circle {
    position: absolute;
    /* position absolute anchored to its relative positioned parent ^^^ */
    border-radius: 50%;
  
  }

  .big {
    background-color: rgba(247, 136, 167, 0.6);
    width: 240px;
    height: 240px;
    top: 0;
    right: 50px;
  }

  .medium {
    background-color: rgba(247, 193, 162, 0.7);
    width: 175px;
    height: 175px;
    right: 0;
    top: 100px;
  }

  .small {
    background-color: rgba(207, 130, 213, 0.6);
    width: 140px;
    height: 140px;
    right: 0;
    top: 20px;

  }
}